.App {
	text-align: center;
}

.box {
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 1px solid black;
}

.buttons > * {
	margin: 10px;
	border: none;
	border-radius: 20px;
	padding: 10px;
}

.myButton {
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	color: white;
}

.myButton:hover {
	filter: drop-shadow(0px 0px 4px #2c2c58cc);
}

.title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
	word-spacing: 1px;
	background: -webkit-linear-gradient(rgb(174, 255, 154), rgb(32, 69, 138));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 5px;
	color: #ffffff;
	font-weight: 900;
	text-decoration: none;
	font-style: italic;
	/* font-variant: small-caps; */
	text-transform: none;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.342);
}

.textInBox {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.342);
}
